* {
    background-color: lightcyan;
    border-radius: 0.5em;
    border-width: 0.2em;
    margin: 0.25em;
    padding: 0.15em;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.solid {
    border-style: solid;
    border-color: black;
    box-shadow: none;
}
.wrap-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li {
    background-color: lightgoldenrodyellow;
}
.center {
    display: flex;
    justify-self: center;
    justify-content: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.width8em {
    max-width: 8em;
    aspect-ratio: 4;
}
.width16em {
    max-width: 16em;
    aspect-ratio: 8;
}
input, select, option {
    background-color: white;
}
button, a {
    background-color: lightgray;
    font-weight: bolder;
    box-shadow: 0.2em 0.1em darkgray;
}